@{
    ViewData["Title"] = "Home Page";
}
@model IndexViewModel
<div class="text-center">
    <h1>@Model.TeamName</h1>
</div>

<table class="table table-dark">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Middle Initial</th>
            <th>Last Name</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Zip</th>
            <th>Phone Number</th>
        </tr>
    </thead>
    @foreach (var x in Model.Bowlers)
    {
        <tr>
            <td>@x.BowlerFirstName</td>
            <td>@x.BowlerMiddleInit</td>
            <td>@x.BowlerLastName</td>
            <td>@x.BowlerAddress</td>
            <td>@x.BowlerCity</td>
            <td>@x.BowlerState</td>
            <td>@x.BowlerZip</td>
            <td>@x.BowlerPhoneNumber</td>
        </tr>
    }
</table>



<div page-info="@Model.PageNumberingInfo" page-url-teamname="@Model.TeamName" page-classes-enabled="true" page-class="btn" page-class-normal="btn-dark" page-class-selected="btn-danger" class="btn-group pull-right m-1">

</div>

